<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Primary"
       connectionString="Data Source=DESKTOP-GFJNP70\SQLSERVER;Initial Catalog=FlowerShop;User ID=sa;Password=Student@1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Home.aspx" loginUrl="LoginPage.aspx">
      </forms>
    </authentication>

    
    <authorization>
        <deny users="?"/>
      </authorization>
    
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <location path="RegistrationForm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>



</configuration>
